{% extends 'base.html' %}
block <title>index</title>
{% block body %}
<div class="container">
    <div class="container marketing my-4">
  
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4 d-flex flex-column text-center justify-content-center align-items-center">
            <img class="bd-placeholder-img rounded-circle" src="\static\san.jpg" boder="4" width="140" height="140" aria-setsize="circular">
            
            <h2>PRINCIPLE</h2>
            <H4>SANDHYA PATEL</H4>
            <p>“Thank you for setting high expectations for our students and educators. As principal, you have shaped the conditions for our teachers and students to learn and succeed. We are forever grateful for your impact on this school, keep up the great work!”</p>
            
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4 d-flex flex-column text-center justify-content-center align-items-center">
            <img class="bd-placeholder-img rounded-circle" src="\static\kanhaiya.jpg" boder="4" width="140" height="140" aria-setsize="circular">
            
            <h2>DIRECTOR</h2>
            <h4>KANHAIYA LAL PATEL</h4>
            <p>There is nothing more to learn, I can relax with the comforting thought that the universe around me is an open book. I know it all.” Education is not just about the subjects that are learnt and taught in school.</p>
            
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4 d-flex flex-column text-center justify-content-center align-items-center">
            <img class="bd-placeholder-img rounded-circle" src="\static\prajjawal.jpg" boder="4" width="140" height="140" aria-setsize="circular">
            
            <h2>Community Developer & TECHNICAL HEAD</h2>
            <h4>PRAJJAWAL PATEL</h4>
            <p>Mr.Prajjawal is pursuing in B.TECH(COMPUTER SCIENCE).He is the community Developer and Technical head of our comminity.This site is also developed by Mr.Prajjawal. </p>
            
          </div>

          <div class="col-lg-4 d-flex flex-column text-center justify-content-center align-items-center">
            <img class="bd-placeholder-img rounded-circle" src="\static\nisha.jpg" boder="4" width="140" height="140" aria-setsize="circular">
            <h2>MATH FACULTY</h2>
            <h4>NISHA VERMA</h4>
            <p>“Teaching MATH can be extremely rewarding but it is also hard work. One of the biggest lessons I learnt was confidence. If you can stand in front of groups of restless students every day and come through it unscathed, you can do anything!”</p>
            
          </div>

          <div class="col-lg-4 d-flex flex-column text-center justify-content-center align-items-center">
            <img class="bd-placeholder-img rounded-circle" src="\static\amita.jpg" boder="4" width="140" height="140" aria-setsize="circular">
            <h2>ENGLISH FACULTY</h2>
            <h4>AMITA GUPTA</h4>
            <p>“Teaching English can be extremely rewarding but it is also hard work. One of the biggest lessons I learnt was confidence. If you can stand in front of groups of restless students every day and come through it unscathed, you can do anything!”</p>
            
          </div>

          <div class="col-lg-4 d-flex flex-column text-center justify-content-center align-items-center">
            <img class="bd-placeholder-img rounded-circle" src="\static\ruby.jpg" boder="4" width="140" height="140" aria-setsize="circular">
            <h2>HINDI FACULTY</h2>
            <h4>RUBY PATEL</h4>
            <p>“Teaching HINDI can be extremely rewarding but it is also hard work. One of the biggest lessons I learnt was confidence. If you can stand in front of groups of restless students every day and come through it unscathed, you can do anything!”</p>
            
          </div>
        </div>
    </div>
</div>
{% endblock body %}